# Byte-code files
*.pyc
__pycache__/

# Virtual environment
.venv/
env/
venv/

# Build artifacts
build/
dist/
*.egg-info/
develop-eggs/
parts/
sdist/
var/
wheels/
share/python-wheels/

# Logs and other files
*.log
.coverage
.pytest_cache/
.mypy_cache/

# Sensitive data
.env

# IDE and OS files (optional, can be in a global gitignore)
.idea/
.vscode/
.DS_Store
Thumbs.db

# output test files
disco*.hdf5
